# 실행 파일 무시
chat_server
chat_client
chat_client_console
chat_client_gui

# Qt 관련 무시할 파일
*.pro.user
*.pro.user.*
build-*/
*.o
*.moc
moc_*
ui_*
qrc_*
Makefile*
debug/
release/
.qmake.stash

# 시스템 파일 무시
.DS_Store